/*****Responsive - For Mobile*****/

/*Navigation Bar*/

.navbar
{
    padding-left: 5%;
    padding-right: 5%;
}
.navbar-brand
{
    color: #fff;
    font-size: 40px;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 600;
}
.navbar-brand:hover
{
    color: #fff;
    font-size: 40px;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 600;
}
.container-fluid
{
    
    display: flex;
    gap: 60%;
}
.navbar-nav
{
    display: flex;
    gap: 10%;
    font-size: 25px;
}
.navbar-nav .nav-link
{
    text-align: center;
    line-height: 50px;
    color: #fff;
}
.navbar-nav .active
{
    color: #EDB909;
}
.navbar-nav .nav-link:hover
{
    color: rgb(206, 206, 206)
}
.navbar-nav .active:hover
{
    color: #EDB909;
}
#hamburger
{
    border: 1px solid #fff;
    margin-top: -75px;
    margin-left: 80%;
}

/*White Section*/

.white-section
{
    padding-top: 7%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 7%;
    background-color: #fbf8ee;
}

.banner
{
    list-style-type: none; 
    display: flex; 
    gap: 5%;
    flex-direction: column;
}

.img-area .img-fluid
{
    margin-left: -8%;
    margin-right: -3%;

    border: 2px solid #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.text-area .title
{
    margin-top: 10%;
    margin-left: -8%;

    color: #000;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 600;
    font-size: 35px;
}
.text-area .rule
{
    margin-left: -8%;
    height: 20px;
}
.text-area .text
{
    margin-left: -8%;

    color: #000;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.text-area .text .badge
{
    background-color: #353A40;
    color: #fff;
    font-weight: 200;
}
.text-area .text .text-bg-success
{
    background-color: #0c9500;
    border: 1px solid #000;
    height: 15px;
}

.body-text .text
{
    padding-top: 2.5%;
    padding-left: 2.5%;
    margin-bottom: -2%;

    color: #000;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    
}
.body-text ul.text
{
    padding-top: 2.5%;
    padding-left: 2.5%;

    color: #000;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    
}

/*Grey Section*/
.grey-section
{
    background-color: #353A40;
}
.footer
{
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
}
.footer-text
{
    color: #fff;
    text-align: center;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 200;
    font-size: 20px;
}



/*****Responsive - For Tablets*****/

@media(min-width: 450px)
{

/*Navigation Bar*/

.navbar
{
    padding-left: 10%;
    padding-right: 5%;
}
.navbar-brand
{
    color: #fff;
    font-size: 40px;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 600;
}
.navbar-brand:hover
{
    color: #fff;
    font-size: 40px;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 600;
}
.container-fluid
{
    
    display: flex;
    gap: 60%;
}
.navbar-nav
{
    display: flex;
    gap: 10%;
    font-size: 25px;
}
.navbar-nav .nav-link
{
    text-align: center;
    line-height: 50px;
    color: #fff;
}
.navbar-nav .active
{
    color: #EDB909;
}
.navbar-nav .nav-link:hover
{
    color: rgb(206, 206, 206)
}
.navbar-nav .active:hover
{
    color: #EDB909;
}
#hamburger
{
    border: 1px solid #fff;
    margin-top: -75px;
    margin-left: 85%;
}

/*White Section*/

.white-section
{
    padding-top: 7%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 7%;
    background-color: #fbf8ee;
}

.banner
{
    list-style-type: none; 
    display: flex; 
    gap: 5%;
    flex-direction: column;
}

.img-area .img-fluid
{
    margin-left: -3%;
    margin-right: -3%;

    border: 2px solid #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%!important;
    height: 50%!important;

}
.text-area .title
{
    margin-top: 10%;
    margin-left: -3%;

    color: #000;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
}
.text-area .rule
{
    margin-left: -3%;
    height: 25px;
}
.text-area .text
{
    margin-left: -3%;

    color: #000;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
}
.text-area .text .badge
{
    background-color: #353A40;
    color: #fff;
    font-weight: 200;
}
.text-area .text .text-bg-success
{
    background-color: #0c9500;
    border: 1px solid #000;
    height: 15px;
}

.body-text .text
{
    padding-top: 2.5%;
    padding-left: 2.5%;
    margin-bottom: -2%;

    color: #000;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
    
}
.body-text ul.text
{
    padding-top: 2.5%;
    padding-left: 2.5%;

    color: #000;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
    
}

/*Grey Section*/
.grey-section
{
    background-color: #353A40;
}
.footer
{
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
}
.footer-text
{
    color: #fff;
    text-align: center;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 200;
    font-size: 20px;
}

}



/*****Responsive - For Laptop*****/

@media(min-width: 1050px)
{

/*Navigation Bar*/

.navbar
{
    padding-left: 5%;
    padding-right: 5%;
}
.navbar-brand
{
    color: #fff;
    font-size: 40px;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 600;
}
.navbar-brand:hover
{
    color: #fff;
    font-size: 40px;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 600;
}
.container-fluid
{
    
    display: flex;
    gap: 60%;
}
.navbar-nav
{
    display: flex;
    gap: 10%;
    font-size: 25px;
}
.navbar-nav .nav-link
{
    
    color: #fff;
}
.navbar-nav .active
{
    color: #EDB909;
}
.navbar-nav .nav-link:hover
{
    color: rgb(206, 206, 206)
}
.navbar-nav .active:hover
{
    color: #EDB909;
}

/*White Section*/

.white-section
{
    padding-top: 7%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 7%;
    background-color: #fbf8ee;
}

.banner
{
    list-style-type: none; 
    display: flex; 
    gap: 5%;
    flex-direction: row;
}

.img-area .img-fluid
{
    margin-left: 0;
    margin-right: 0;

    border: 2px solid #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px!important;
    height: 300px!important;
}
.text-area .title
{
    margin-top: 0;
    
    color: #000;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
}
.text-area .rule
{
    height: 20px;
}
.text-area .text
{
    color: #000;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
}
.text-area .text .badge
{
    background-color: #353A40;
    color: #fff;
    font-weight: 200;
}
.text-area .text .text-bg-success
{
    background-color: #0c9500;
    border: 1px solid #000;
    height: 15px;
}

.body-text .text
{
    padding-top: 2.5%;
    padding-left: 2.5%;
    margin-bottom: -2%;

    color: #000;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
    
}
.body-text ul.text
{
    padding-top: 2.5%;
    padding-left: 2.5%;

    color: #000;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
    
}

/*Grey Section*/
.grey-section
{
    background-color: #353A40;
}
.footer
{
    padding-left: 5%;
    padding-top: 2.5%;
    padding-right: 5%;
    padding-bottom: 1%;
}
.footer-text
{
    color: #fff;
    text-align: center;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 200;
    font-size: 25px;
}

}



/*****Responsive - For Desktop*****/

@media(min-width: 1500px)
{

/*Navigation Bar*/

.navbar
{
    padding-left: 5%;
    padding-right: 5%;
}
.navbar-brand
{
    color: #fff;
    font-size: 40px;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 600;
}
.navbar-brand:hover
{
    color: #fff;
    font-size: 40px;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 600;
}
.container-fluid
{
    
    display: flex;
    gap: 60%;
}
.navbar-nav
{
    display: flex;
    gap: 10%;
    font-size: 25px;
}
.navbar-nav .nav-link
{
    
    color: #fff;
}
.navbar-nav .active
{
    color: #EDB909;
}
.navbar-nav .nav-link:hover
{
    color: rgb(206, 206, 206)
}
.navbar-nav .active:hover
{
    color: #EDB909;
}

/*White Section*/

.white-section
{
    padding-top: 7%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 7%;
    background-color: #fbf8ee;
}

.banner
{
    list-style-type: none; 
    display: flex; 
    gap: 5%;
    flex-direction: row;
}

.img-area .img-fluid
{
    margin-left: 0;
    margin-right: 0;

    border: 2px solid #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px!important;
    height: 300px!important;
}
.text-area .title
{
    margin-top: 0;

    color: #000;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
}
.text-area .rule
{
    height: 20px;
}
.text-area .text
{
    color: #000;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
}
.text-area .text .badge
{
    background-color: #353A40;
    color: #fff;
    font-weight: 200;
}
.text-area .text .text-bg-success
{
    background-color: #0c9500;
    border: 1px solid #000;
    height: 15px;
}

.body-text .text
{
    padding-top: 2.5%;
    padding-left: 2.5%;
    margin-bottom: -2%;

    color: #000;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
    
}
.body-text ul.text
{
    padding-top: 2.5%;
    padding-left: 2.5%;

    color: #000;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
    
}

/*Grey Section*/
.grey-section
{
    background-color: #353A40;
}
.footer
{
    padding-left: 5%;
    padding-top: 2.5%;
    padding-right: 5%;
    padding-bottom: 1%;
}
.footer-text
{
    color: #fff;
    text-align: center;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 200;
    font-size: 25px;
}

}