/*****Responsive - For Desktop*****/


/*Image Section*/

.image-section
{
    background-image: url("C:/Users/Admin/Desktop/Web Development/Chef/images/coffee.png");
    background-size: cover;
}

/*Navigation Bar*/

.navbar
{
    padding-left: 5%;
    padding-right: 5%;
}
.navbar-brand
{
    color: #fff;
    font-size: 40px;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 600;
}
.navbar-brand:hover
{
    color: #fff;
    font-size: 40px;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 600;
}
.container-fluid
{
    
    display: flex;
    gap: 60%;
}
.navbar-nav
{
    display: flex;
    gap: 10%;
    font-size: 25px;
}
.navbar-nav .nav-link
{
    
    color: #fff;
}
.navbar-nav .active
{
    color: #EDB909;
}
.navbar-nav .nav-link:hover
{
    color: rgb(206, 206, 206)
}
.navbar-nav .active:hover
{
    color: #EDB909;
}

/*White Section*/

.white-section
{
    padding-top: 7%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 7%;
    background-color: #fbf8ee;
}

.img-area .img-fluid
{
    border: 2px solid #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.text-area .title
{
    color: #000;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
}
.text-area .rule
{
    height: 20px;
}
.text-area .text
{
    color: #000;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
}
.text-area .text .badge
{
    background-color: #353A40;
    color: #fff;
    font-weight: 200;
}
.text-area .text .text-bg-success
{
    background-color: #0c9500;
    border: 1px solid #000;
    height: 15px;
}

.body-text .text
{
    padding-top: 2.5%;
    padding-left: 2.5%;
    margin-bottom: -2%;

    color: #000;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
    
}
.body-text ul.text
{
    padding-top: 2.5%;
    padding-left: 2.5%;

    color: #000;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
    
}

/*Grey Section*/
.grey-section
{
    background-color: #353A40;
}
.footer
{
    padding-left: 5%;
    padding-top: 2.5%;
    padding-right: 5%;
    padding-bottom: 1%;
}
.footer-text
{
    color: #fff;
    text-align: center;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 200;
    font-size: 25px;
}